body {
	background-color: black !important;
	/*font-family: 'Space Mono', monospace;*/
	font-family: 'Special Elite', cursive;
}
a:visited{
  color:white;
}
a {
	color:white;
	text-decoration: none;
}
/*top space*/
.topSpace {
	height:30vh;
}

/*logo*/
.logo {
	background-color: red;
	/*background-color: #64A19A;*/
    color: white;
    height: 1.3em;
    font-size: 3em;
    padding: 5px;
    font-family: 'Space Mono', monospace;


}
#para1 {
	color:white;
}

.clock {
	color:white;
	height:1.3em;
	font-size: 1.8em;
	padding: 3px;
	margin-top: 5px;
	font-family: 'Space Mono', monospace;
}

.mainText {
	background-color: black;
	color:white;
	height:1.3em;
	font-size: 1em;
	padding: 5px;
	margin-top: 16px;


	
}
.mainTextP {
	padding-left: 3px !important;
}

.mainTextP:hover{
	background-color: red;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px;
	
	
}
a:hover {
	text-decoration: none;
}
.clicky:hover {
	color:white;
	text-decoration:none;
}

@media only screen and (max-width: 450px) {
    .topSpace {
    	height:25vh;
    }
    .logo {
		background-color: red;
	    color: white;
	    /*height: 1.3em;*/
	    font-size: 1.8em;
	    padding: 3px;
	}
	.clock {
		color:white;
		height:1.3em;
		font-size: .em;
		padding: 12px;
	}
	.mainText {
		margin-top: 5px;
		font-size: 1em;

	}
}

@media only screen and (max-width: 750px) {
    .topSpace {
        height:25vh;
    }
    .clock {
		color:white;
		height:1.3em;
		font-size: 1em;
		padding: 12px;
		margin-bottom: 10px;
	}
	.mainText {
		margin-top: 8px;
		font-size: 1em;

	}
}










