body{
	background-color: black;
}


header .header-content .header-content-inner p {
	color: white;
}

.bg-primary {
	color: white;
	background-color: #16374F;
}

.fa-4x {
	color: #628395;
}

#services {
	background-color: #EAEAEA;
}

#resume {
	background-color: #63789D;
	color: #D6D6D6;
}

#contact{
	background-color: white;
}